<p id="notice"><%= notice %></p>

<h1>Listing Weeks</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Number</th>
      <th>Days</th>
      <th>Count</th>
      <th>Status</th>
      <th>Thread url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <td><%= week.game %></td>
        <td><%= week.number %></td>
        <td><%= week.days %></td>
        <td><%= week.count %></td>
        <td><%= week.status %></td>
        <td><%= week.thread_url %></td>
        <td><%= link_to 'Show', week %></td>
        <td><%= link_to 'Edit', edit_week_path(week) %></td>
        <td><%= link_to 'Destroy', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Week', new_week_path %>
