<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @week.game.year %>
</p>

<p>
  <strong>Number:</strong>
  <%= @week.number %>
</p>

<p>
  <strong>Days:</strong>
  <%= @week.days %>
</p>

<p>
  <strong>Count:</strong>
  <%= @week.count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @week.status %>
</p>

<p>
  <strong>Thread url:</strong>
  <%= @week.thread_url %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>


<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Team</th>
      <th>Opponent</th>
      <th>points</th>
      <th>total</th>
      <th>po</th>
      <th>mb</th>
      <th>high</th>
      <th>low</th>
      <th>avg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.order(total: :desc).each do |score| %>
      <tr>
        <td><%= score.week.game.year %></td>
        <td><%= score.team.name %></td>
        <td><%= score.opponent.team.name %></td>
        <td><%= score.points %></td>
        <td><%= score.total %></td>
        <td><%= score.po %></td>
        <td><%= score.mb %></td>
        <td><%= score.high %></td>
        <td><%= score.low %></td>
        <td><%= score.avg %></td>
      </tr>
    <% end %>
  </tbody>
</table>
