<p id="notice"><%= notice %></p>

<p>
  <strong>Current week:</strong>
  <%= @game.current_week_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @game.year %>
</p>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Closes at:</strong>
  <%= @game.closes_at %>
</p>

<p>
  <strong>Count:</strong>
  <%= @game.count %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Status</th>
      <th>Captain</th>
      <th>Cell number</th>
      <th>Cell provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.team %></td>
        <td><%= player.name %></td>
        <td><%= player.slug %></td>
        <td><%= player.status %></td>
        <td><%= player.captain %></td>
        <td><%= player.cell_number %></td>
        <td><%= player.cell_provider %></td>
        <td><%= link_to 'Show', player %></td>
        <% if current_admin %>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
          <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

