<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Slug</th>
      <th>IR</th>
      <th>Captain</th>
      <th>Cell number</th>
      <th>Cell provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.order(slug: :asc).each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.team.name %></td>
        <td><%= player.slug %></td>
        <td><%= player.ir_string %></td>
        <td><%= player.captain_string %></td>
        <td><%= player.cell_number %></td>
        <td><%= player.cell_provider %></td>
        <td><%= link_to 'Show', player %></td>
        <% if current_admin %>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
          <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
