<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @player.team.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>IR:</strong>
  <%= @player.ir_string %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @player.captain_string %>
</p>

<p>
  <strong>Cell number:</strong>
  <%= @player.cell_number %>
</p>

<p>
  <strong>Cell provider:</strong>
  <%= @player.cell_provider %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>


<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Miles</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.order(week_id: :asc).each do |post| %>
      <tr>
        <td><%= post.week.number %></td>
        <td><%= post.total %></td>
        <td><%= post.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>